.home-container {
    width: 100%;
}
.blogs-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-items: center;
}

@media screen and (min-width: 768px){
    .blogs-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding: 10px;
        justify-content: space-around; 
    }
}

/* @media screen and (min-width: 992px){
    .blogs-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 10px;
    }
} */


@media screen and (min-width: 1050px){
    .blogs-container {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        padding: 14px;
    }
}
@media screen and (min-width: 1300px){
    .blogs-container {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }
}