.sidebar-container {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    gap:20px;
    padding: 17px;
    position: fixed;
    height: 100%;
}



@media screen and (min-width: 670px) {
    .sidebar-container{
        display: flex;
    }
}